<div class="card mt-5 col-md-12">
  <h5 class="card-header">ADMINISTRADOR</h5>
  <div class="card-body">
    <h5 class="card-title">PANEL DE CONTROL</h5>
    <p class="card-text">Bienvenido administrador, ahora tiene control total del sistema
    </p>
    <a href="/admin/dashboard" class="btn btn-primary btn-lg">Dashboard</a>
    <a class="btn btn-info btn-lg" href="/admin/getDoctors">Doctores</a>
    <a class="btn btn-primary btn-lg" href="/admin/getPacientes" role="button">Pacientes</a>
    <a class="btn btn-success btn-lg" href="/admin/getHabitaciones">Habitaciones</a>
    <a class="btn btn-warning btn-lg" href="/admin/getRecetas">Recetas</a>
    <a class="btn btn-secondary btn-lg" href="/admin/getCitas">Citas</a>
    <a class="btn btn-danger btn-lg" href="/logout">Cerrar Sesion</a>
  </div>
</div>